.questionList {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.questionList h3 {
  font-size: 1.5rem;
}

.questionInputHolder {
  margin: 0.5rem 0 3rem 0;
  display: flex;
  justify-content: center;
}
.questionInputHolder form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  border: none;
}
.questionInputHolder input {
  font-size: 1rem;
  border-radius: 10px 10px 0 0;
}

.questionCard {
  width: 20.6rem;
}

.comment {
  border-radius: 10px;
  width: 20.6rem;
  padding: 1rem;
  margin: 1rem 0;
  background-color: rgb(174, 165, 185);
}

.commentPoster {
  font-size: "13px";
  text-align: "right";
}

.commentInputHolder {
  display: flex;
  flex-direction: column;
}
.commentInputHolder textarea {
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.commentInputHolder button,
.questionInputHolder button {
  cursor: pointer;
  padding: 10px 0;
  font-size: 1.1rem;
  border-radius: 0 0 10px 10px;
  border: none;
  background-color: rgb(165, 165, 212);
  transition: all 0.3s ease;
}
.commentInputHolder button:hover {
  background-color: rgb(120, 106, 138);
}

@media (max-width: 1024px) {
  .questionList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .questionList {
    grid-template-columns: 1fr;
  }
}
