@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

textarea {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: linear-gradient(180deg, rgba(63, 66, 112, 0.25253851540616246) 0%, rgb(200, 189, 235) 100%) fixed;
  font-family: "Inter", sans-serif;
}

main {
  position: relative;
  margin-top: 5rem;
  padding: 5rem; /*padding bottom same as footer margin-top */
  z-index: 0;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  padding: 2rem;
  background-color: rgb(31, 23, 36);
  color: rgb(225, 204, 236);
}

footer p {
  text-align: center;
}

/* TODO: Later*/
@media (prefers-color-scheme: dark) {
}
