.nav,
.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  justify-content: space-between;
  font-size: 1.2rem;
  background-color: rgb(31, 23, 36);
  color: rgb(225, 204, 236);
  z-index: 1;
}

.nav ul {
  gap: 3rem;
}

.nav-link--active {
  color: white;
}

.nav ul li,
.auth-button,
.nav-link--active {
  position: relative;
}
.nav ul li::before,
.auth-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav ul li:not(.nav-link--active):hover::before,
.auth-button:hover::before {
  visibility: visible;
  transform: scaleX(1);
  background-color: rgb(200, 146, 230);
}

.nav-link--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: rgb(200, 146, 230);
}

.nav-icon {
  border-radius: 50%;
}

.display-name {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 10rem;
}

.auth-buttons div {
  display: flex;
  gap: 1.2rem;
}
.auth-button {
  cursor: pointer;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
  color: rgb(31, 23, 36);
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
